.main-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  background:#2c3e50;
  padding:15px 30px;
}

.menu a{
  color:white;
  text-decoration:none;
  margin-left:15px;
  font-weight:bold;
}

.menu a:hover{
  color:#f1c40f;
}
